<!DOCTYPE html>
<html lang="en">
	<head>
		{% load staticfiles %}
		<title>Homepage</title>
	</head>
	<body>
		<form method="Post" action="/submit">
			{% csrf_token %} 
			<input type="email" name="user_email" placeholder="Email" required/>
			<br>
			<br>
			<input type="destination" name="destination" placeholder="To" required/> 
			<br>
			<br>
			<input type="text" name="subject" placeholder="Subject" required/>
			<br>
			<br>
			<input type="text" name="email_text" required/> 
			<br>
			<br>
			<div>
				<input type="submit" name="send" value="Send email">
			</div>
		</form>
	</body>
</html>